/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D2B48C; /* Tan background */
    color: #333;
    line-height: 1.6;
}

/* Howdy message at the top, no overlap */
.howdy-message {
    position: static;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    z-index: 1000; /* Ensure the Howdy message stays on top */
    color: #2f4f4f; /* Dark Slate Gray */
}

.rotating-message {
    color: #843b07; /* Brown */
    transition: opacity 0.5s ease-in-out; /* Fade effect */
    opacity: 1; /* Default to visible */
}

/* Card flip container */
.card {
    perspective: 1000px;
    width: 320px;
    height: 550px;
    margin: 10px;
    background-color: rgb(237, 196, 141);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
  }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .flip-card-inner, .card.clicked .flip-card-inner {
    transform: rotateY(180deg);
}

/* Front and back of the card */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Front of the card: Image */
.flip-card-front {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front img {
    max-width: 100%;
    border-radius: 8px;
}

/* Back of the card: Description */
.flip-card-back {
    background-color: #95caf5;
    color: white;
    transform: rotateY(180deg);
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-back h3 {
    margin-top: 10px;
}

.flip-card-back a {
    color: #bb8e34;
    font-weight: bold;
    margin-top: 15px;
}

.flip-card-back a:hover {
    text-decoration: underline;
}

/* Grid layout for cards */
.cards-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
  }

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    color: #4CAF50;
}
 /* Media alterations for different screen sizes*/
 @media (max-width: 1200px) {
    .cards-grid {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
      max-width: 350px;
    }
  }